doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
block content
 div(class="jumbotron")
  h1 Welcome!! #{title}
  p  Thank You for using  
  p Good Day!!